.fundoCadastro {
    background-image: url("https://ik.imagekit.io/53urd0gwk/freepp.jpg?updatedAt=1705637282262");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
  }