.fundoLogin {
    background-image: url("https://ik.imagekit.io/53urd0gwk/ladder.jpg?updatedAt=1705637500141");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
